*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto Mono;
}
:focus,
:hover,
:active {
  outline: none;
}
body {
  margin: 0;
  overflow: hidden;
}
#app {
  height: 100vh;
}

.flex-center {
  display: flex;
  align-items: center;
}

button {
  width: 100%;
  border-radius: 0.3em;
  border-width: 0px;
  background-color: #e44332;
  height: 2.5em;
  color: white;
  cursor: pointer;
}

label {
  display: block;
  padding-bottom: 0.25em;
}

input {
  width: 100%;
  border-radius: 0.3em;
  border-width: 1px;
  border-color: #ACA9BB;
}