.main-container {
    display: flex;
}

.tasks-container {
    margin: 0 auto;
    width: 800px;
}

.post-button-container {
    width: 40px;
    height: 40px;
    border-radius: 2em;
    position: fixed;
    right: 52px;
    bottom: 52px;
    color: #fff;
    background-color: #e44332;
    cursor: pointer;
}

.post-button {
    margin-left: 12px;
}