.header-container {
    height: 36px;
    background-color: #e44332;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.logout-button {
    width: 80px;
    background-color: transparent;
    padding: 0;
}